.admin-container {
  display: flex;
  height: 100vh;
  font-family: "Arial", sans-serif;
}

/* Sidebar */
.sidebar-admin {
  width: 220px;
  background-color: #b29473;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  color: #2e2b26;
}

.sidebar-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.sidebar-menu li:hover,
.sidebar-menu .activo {
  background-color: #e6d1b0;
}

.cerrar-sesion {
  color: #d26464;
  font-weight: bold;
  cursor: pointer;
}

/* Contenido principal */
.main-content-admin {
  flex: 1;
  background-color: #fce6ce;
  padding: 30px 50px;
  position: relative;
}

.header-admin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #d9d3b8;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.header-admin h5{
  left: 60px;
  font-weight: bold;
} 

.admin-label {
  margin-right: 10px;
  font-weight: bold;
}

.historial-clientes-section {
  color: #2e2b26;
}

.acciones {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.buscar-input {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  width: 280px;
  background-color: #deb89b;
  color: #2e2b26;
}

.btn-exportar {
  background-color: #deb89b;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
}

.btn-exportar:hover {
  background-color: #d09b7c;
}

/* Tabla */
.tabla-clientes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  background-color: #b58a6c;
  border-radius: 12px;
  padding: 10px;
  width: 80%;
  color: #2e2b26;
  border-collapse: collapse;
}

th, td {
  padding: 8px 15px;
  text-align: left;
}

th {
  font-weight: bold;
  border-bottom: 2px solid #2e2b26;
}