.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}

.card-box.ong {
  background-color: #7db5d5; /* color distinto para ONGs */
  width: 280px;
  min-height: 350px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.card-box.ong:hover {
  transform: translateY(-5px);
  background-color: #699ec3;
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-box h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.card-box p {
  font-size: 14px;
  margin: 3px 0;
  text-align: center;
}

.card-box p strong {
  font-weight: bold;
}